* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  padding: 10rem;
  border: 2px solid white;
}
.container p {
  color: white;
}
.container p span {
  color: white;
}
